html, body {
  overflow: auto;
  height: 100%;
}

body {
  background-image: url('../img/bg_texture_2x.jpg');
  background-repeat: repeat;
}

.wrapper {
  background-image: url('../img/bg_texture_2x.jpg');
  background-repeat: repeat;
}

.container {
  margin: 0 auto;
  padding-top: 20px;
  width: 1000px;
  text-align: center;
}

.large-logo {
  display: block;
  margin: 0px auto;
  width: 100%;
  max-width: 1000px;
}

h1, h2 {
  letter-spacing: 15px;
  color: #fff;
  font-family: arial;
  font-size: 24px;
}

h1 {
  font-size: 30px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  border: 0;
  display: inline-block;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
