body {
  background-image: url('../img/bg_texture_2x.jpg');
  background-repeat: repeat;
}

.container {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

.large-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
